
<div class="back">
<mat-card align="center" class="container">

  <img src="../../assets/images/card.png" class="image">

  <mat-card-content class="alignment" align="end">
    <mat-card-content class="mat-headline-3 heading">Register</mat-card-content>

      <mat-form-field class="fields" floatLabel="always" appearance="outline" [color]="incorrect1 ? 'warn' : 'primary'">
        <mat-label class="field-title">Username</mat-label>
        <input matInput type="text" [(ngModel)]="name" name="name"  (ngModelChange)="onDataChange()" required >
        <mat-hint class="error" *ngIf="incorrect1" align="end">Username Not Available</mat-hint>
      </mat-form-field><br>

      <mat-form-field class="fields" floatLabel="always" appearance="outline" [color]="incorrect4 ? 'warn' : 'primary'">
        <mat-label class="field-title">Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email" (ngModelChange)="onDataChange()" required>
        <mat-hint class="error" *ngIf="incorrect4" align="end">Email Not Available</mat-hint>
      </mat-form-field><br>

      <mat-form-field class="fields" floatLabel="always" appearance="outline" [color]="incorrect2 ? 'warn' : 'primary'">
        <mat-label class="field-title">Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" (ngModelChange)="onDataChange()" autocomplete="off" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint style="color:rgb(157, 154, 154);">min 8 character</mat-hint>
      </mat-form-field><br><br>

      <mat-form-field class="fields"  [style]="{'margin-bottom': '-15px'}" floatLabel="always" appearance="outline" [color]="incorrect2 ? 'warn' : 'primary'">
        <mat-label class="field-title">Confirm Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="cpassword" name="cpassword" (ngModelChange)="onDataChange()" autocomplete="off" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint class="error" *ngIf="incorrect2" align="end">Confirm Password Dont match with Password</mat-hint>
      </mat-form-field><br>

      <mat-label class="field-title"></mat-label><br>
      <mat-checkbox [(ngModel)]="termsAndConditions" color="primary" class="tac"> <mat-label class="field-title">I agree to </mat-label><a href="#"> Terms and Conditions</a></mat-checkbox><br>

      <div class="error" *ngIf="incorrect3">Please Agree to terms and conditions</div>

      <button mat-raised-button color="primary" class="register" [disabled]="disable" (click)="onregister()">Register</button>

      <div > Account Already Exist?<a routerLink="/login">login</a></div>


  </mat-card-content>

  </mat-card>
</div>
