<mat-form-field class="date">
  <input matInput [(ngModel)]="todayDate" type="date" name="date" >
</mat-form-field>
<button mat-raised-button color="primary" [style]="{ 'margin-left': '80px' }" (click)="loadData()">
  LOAD
</button>
<button mat-raised-button color="primary" [style]="{ 'margin-left': '80px', width: '400px' }"
  (click)="exportAreaAsPNG('chart')">
  Export As PNG
</button>
<br />
<form class="example-form">
  <mat-form-field>
    <input matInput [(ngModel)]="st" type="time" name="Starttime" />
  </mat-form-field>
  <mat-form-field [style]="{ 'margin-left': '40px' }">
    <input matInput [(ngModel)]="et" type="time" name="Endtime" />
  </mat-form-field>
  <mat-form-field [style]="{ 'margin-left': '40px', width: '35%' }">
    <input matInput [(ngModel)]="td" placeholder="Task Details" name="Description" />
  </mat-form-field>
  <button mat-raised-button color="primary" [style]="{ 'margin-left': '80px' }" (click)="addtask()" *ngIf="!edit">
    ADD
  </button>
  <button mat-raised-button color="primary" [style]="{ 'margin-left': '80px' }" (click)="addtask()" *ngIf="edit">
    Edit
  </button>
</form>
<div id="chart">
  <table class="table">
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Minutes</th>
      <th>Task Description</th>
      <th></th>
    </tr>
    <tr *ngFor="let elem of DATA">
      <td>{{ elem.Starttime }}</td>
      <td>{{ elem.Endtime }}</td>
      <td>{{ elem.Minute }}</td>
      <td>{{ elem.Taskdesc }}</td>
      <td>
        <button mat-raised-button color="primary" [style]="{ 'margin-left': '10px' }" (click)="edittask(elem)">
          Edit
        </button>
        <button mat-raised-button color="warn" [style]="{ 'margin-left': '10px' }" (click)="deletetask(elem)">
          Delete
        </button>
      </td>
    </tr>
  </table>
  <span [style]="{ 'margin-left': '16%' }">Day Total In Minutes : {{ daytmin }}</span>
  <span [style]="{ 'margin-left': '3%' }">Day Total In Hours : {{ daythr | number:'1.0-2'  }}</span>
</div>
