.example-form {
  margin: 0px 10% 5% 15%;
  padding-top: 20px;
  border: solid 2px rgb(199, 195, 195);
  border-left: none;
  border-right: none;
}

.table {
  margin: -60px 10% 5% 15%;
  border-collapse: collapse;
  width:69%;
}

.table th, .table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  max-width: 200px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.date{
  margin: 2% auto auto 15%;
  padding-left: 13%;
}
