
.fields{
  width: 60%;
  margin-top: 20px;
  margin-bottom: -20px;
}

.field-title{
  color:rgb(157, 154, 154);
  font-size: 20px;
}


.container{
  width: 85%;
  height: 85%;
  overflow: auto;
  border-radius: 2px;
  box-shadow: 3px 5px 40px rgb(66, 115, 200);
}

.back{
  background-color:rgb(193, 209, 240);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
  margin-top:0%;
  color:rgb(48, 48, 172);
  font-family: 'MyFont';
}

@font-face {
  font-family: 'MyFont';
  src: url('../../assets/fonts/Open_Sans/yes.ttf');
}

.find{
  width: 60%;
  margin: 4% 0% 0% 0%;
}

.routess{
  margin-top:10px;
}

.alignment{
  margin:-55% 0% 0% 45%;
  text-align:center;
}

.alignment2{
  margin:5% 0% 0% 45%;
  text-align:center;
}

.image{
  height: 100%;
  width: 45%;
  margin-left:-1%;
}

.error{
  color:red;
}

.ef{
  margin-right:4%;
  margin-top: 3%;
  margin-bottom: -3.5%;
  color:rgb(13, 13, 151);
}

.icon{
  margin-left: 13%;
}
