<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label> User Name </mat-label>
    <input matInput type="text" [(ngModel)]="name" name="name" placeholder="user name" (ngModelChange)="onDataChange()">
  </mat-form-field><br>
  <mat-form-field class="example-full-width">
    <mat-label> Password </mat-label>
    <input matInput type="password" [(ngModel)]="password" name="password" (ngModelChange)="onDataChange()" placeholder="password" autocomplete="off" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>
        <img [src]="hide ? customIcon : customIcon1" [alt]="hide ? 'Show Icon' : 'Hide Icon'">
      </mat-icon>
    </button>
  </mat-form-field>
  <div class="wrong-password-alert" *ngIf="incorrect">Username or Password error</div><br>
  <button mat-raised-button color="primary" [disabled]="disable" (click)="onlogin()">Login</button>
  <br><div class="comment"> New User?<a routerLink="/register"> Register</a></div>
</form>
