<div class="back">
  <mat-card class="container">
    <img src="../../assets/images/card.png" class="image">


    <mat-card-content class="alignment" align="end">
      <mat-card-content class="mat-headline-2 heading">Login</mat-card-content>
      <mat-form-field class="fields" floatLabel="always" appearance="outline" [color]="incorrect ? 'warn' : 'primary'">
        <mat-label class="field-title">Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email" (ngModelChange)="onDataChange()" required>
        <mat-hint class="error" *ngIf="incorrect" align="end">Email not found</mat-hint>
      </mat-form-field>

      <mat-form-field class="fields" floatLabel="always" appearance="outline" [color]="incorrect1 ? 'warn' : 'primary'">
        <mat-label class="field-title">Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password"
          (ngModelChange)="onDataChange()" autocomplete="off" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint><button class="forgot" (click)="onForgot()">frogot password?</button></mat-hint>
        <mat-hint class="error" *ngIf="incorrect1" align="end">Wrong password</mat-hint>
      </mat-form-field>
      <br><br>
      <button mat-raised-button color="primary" class="login" [disabled]="disable" (click)="onlogin()">Login</button>

      <div> New User?<a routerLink="/register"> Register</a></div>


    </mat-card-content>

  </mat-card>
</div>
